.index_footer div
{
float: left;
width: 50%;
}
#index_footer_l
{
font-style: italic;
}
.uvodne_vsebine
{

}
.uvodne_vsebine div
{
float: left;
width: 50%;
margin-bottom: 20px;
}
.uvodne_vsebine p
{
margin-top: 5px;
margin-bottom: 5px;
font-size: 12pt;
line-height:1.5;
}
.uvodne_vsebine h3 
{
font-size:12pt;
line-height:1;
margin-bottom:0;
font-weight:bold;
}
.video
{
float: left;
margin: 30px 0 30px 30px;
}
.video iframe
{
width: 470px;
height: 265px;
}
#player
{
float: left;
margin: 30px 0 30px 30px;
}
.flashContainer object
{
width: 470px !important;
height: 265px !important;

}
.flashContainer
{
width: 470px !important;
height: 265px !important;
}
.kontakti
{
font-size: 12pt;
line-height: 24pt;
margin: 20px 10px;
width: 190px;
float: left;
}
.kontakti a
{
color: #555;
}
.kontakti div
{
border-top: 1px solid #ddd;
display:table;
margin: 10px;
border-bottom: 1px solid #ddd;
background-color: #f7f7f7;
height: 57px;
width: 190px;
text-align: center;
}
.kontakti div span
{
display: table-cell;
  vertical-align: middle;
}
.cena_prva_stran
{
float:right;
margin: -34px 34px 0 0;
font-size: 18pt;
font-weight: bold;
}
.pred_list
{

margin: 20px 10px;
width: 190px;
float: left;
}
.pred_list div
{
border-top: 1px solid #ddd;
display:table;
margin: 10px;
border-bottom: 1px solid #ddd;
background-color: #f7f7f7;
height: 264px;
width: 190px;
text-align: left;
font-size:11pt;
line-height: 1.5;
}
.pred_list div span
{
display: table-cell;
  vertical-align: middle;
}
.pred_list #cena
{
font-size:14pt;
font-weight: bold;
text-align: center;
line-height: 1;
margin: 0;
}
#narocilo
{
float:right;
}
#narocilo ul
{
*padding:6px 20px 5px 20px;
margin:-34px 6px 0 0;
}
#narocilo ul li
{
display: inline;
padding: 1px;
}
#narocilo ul li a
{
background-color: #000176;
font-size: 12px;
font-weight: bold;
text-decoration: none;
/* border: 5px outset #fafafa; */
padding: 8px 9px;
color: white;
}
#narocilo ul li.active a
{
background-color:#fefefe;
text-decoration:none;
border: 1px solid grey;
padding: 9px 7px;
}
.predlog_cene
{
border: 1px solid grey;
}
.intro
{
width: 470px;
margin-left: 30px;
text-align: center;
}