<?php $this->pageTitle=Yii::app()->name; 
$this->beginContent('//layouts/main'); ?>
?>

	<body class="homepage" style=""><div id="skel-panels-pageWrapper" style="position: relative; left: 0px; right: 0px; top: 0px; -webkit-backface-visibility: hidden; -webkit-perspective: 500; -webkit-transition: -webkit-transform 0.25s ease-in-out; transition: -webkit-transform 0.25s ease-in-out;">

		<!-- Header Wrapper -->
			<div id="header-wrapper">
						
				<!-- Header -->
					<div id="header" class="container">
						
						<!-- Logo -->
							<h1 id="logo"><a href="http://www.icefer.si/u/d/#">DOBREPOLJE.INFO</a></h1>
							<p>
                           <a href="http://www.icefer.si/u/d/#"> TURIZEM</a>
                           <a href="http://www.icefer.si/u/d/#"> ŽUPNIJA</a>
                           <a href="http://www.icefer.si/u/d/#"> GASILCI</a>
                           <a href="http://www.icefer.si/u/d/#"> ZAGORICA</a>
                           <a href="http://www.icefer.si/u/d/#"> KOMPOLJE</a>
                           <a href="http://www.icefer.si/u/d/#"> MAČKARE</a>
                            </p>
						

					</div>

			</div>


		<!-- Main Wrapper -->
			<div id="main-wrapper">

				<!-- Main -->
					<div id="main" class="container">
						<div class="row">
						
							<!-- Content -->
								<div id="content" class="8u">
										
                                        <div class="filter"><active>najnovejše</active> naj gledano aktualno
                                        </div>
                                        
									<!-- Post -->
										<article class="is-post">
											<header>
												<h2><a href="./article.html">Your new responsive newspaper is gonna be pretty awesome</a></h2>
                                                <div class="author">
                                                <div class="tag">članek</div>
                                                <div class="tag">dogodek</div>
                                                Marko Novak - 17.1.2014
                                                </div>
											</header>
											<a href="http://www.icefer.si/u/d/#" class="image image-left"><img src="./DOBREPOLJE.INFO_files/pic03.jpg" alt=""></a>
											<p>Phasellus laoreet massa id justo mattis pharetra. Fusce suscipit 
											ligula vel quam viverra sit amet mollis tortor congue. Sed quis mauris 
											sit amet magna accumsan tristique. Curabitur leo nibh, rutrum eu malesuada 
											in, tristique at erat lorem ipsum dolor sit amet lorem ipsum sed consequat 
											magna tempus veroeros lorem sed tempus aliquam lorem ipsum veroeros 
											consequat magna tempus lorem ipsum consequat Phasellus laoreet massa id 
											justo mattis pharetra.</p>
											<ul class="actions">
												<li><a href="http://www.icefer.si/u/d/#" class="button fa fa-angle-right"></a></li>
											</ul>
										</article>
                                     
                                    <!-- Post -->
										<article class="is-post">
											<header>
												<h2><a href="http://www.icefer.si/u/d/#">Oznanila in župnijske novice December </a></h2>
                                                <div class="author">
                                                <div class="tag">multimedia</div>
                                                Marko Novak - 3.1.2014
                                                </div>
											</header>
											<a href="http://www.icefer.si/u/d/#" class="image image-left"><img src="./DOBREPOLJE.INFO_files/pic04.jpg" alt=""></a>
											<p>Phasellus laoreet massa id justo mattis pharetra. Fusce suscipit 
											ligula vel quam viverra sit amet mollis tortor congue. Sed quis mauris 
											sit amet magna accumsan tristique. Curabitur leo nibh, rutrum eu malesuada 
											in, tristique at erat lorem ipsum dolor sit amet lorem ipsum sed consequat 
											magna tempus veroeros lorem sed tempus aliquam lorem ipsum veroeros 
											consequat magna tempus lorem ipsum consequat Phasellus laoreet massa id 
											justo mattis pharetra.</p>
											<ul class="actions">
												<li><a href="http://www.icefer.si/u/d/#" class="button fa fa-angle-right"></a></li>
											</ul>
										</article>
									

								
								</div>
								
							<!-- Sidebar -->
								<div id="sidebar" class="4u">
								
									
								
									<!-- Highlights -->
										<section>
											<ul class="divided">
												<li>

													<!-- Highlight -->
														<article class="is-highlight">
															<header class="sidebar-icon fa fa-calendar-o">
															Koledar dogodkov
															</header>
															<div id="calendar"><div id="text">27.<br>dec</div></div>
                                                            <p>Kulturni program v okviru razstave poprtnikov<br>
                                                            <span class="light">Jakličev dom 19.00</span>
                                                            </p>
                                                            <div id="calendar"><div id="text">1.<br>jan</div></div>
                                                            <p>Komedija Glavni dobitek<br>
                                                            <span class="light">Jakličev dom 20.30</span>
                                                            </p>
														</article>

												</li>
												<li>

													<!-- Povezave -->
														<article class="is-highlight">
															<header class="sidebar-icon fa fa-link">
															Povezave
															</header>
															<a href="http://regularjane.deviantart.com/art/Pink-Rain-2009-134901803" class="image image-left"><img src="./DOBREPOLJE.INFO_files/pic06.jpg" alt=""></a>
															<p class="light">Phasellus  sed laoreet massa id justo mattis pharetra. Fusce suscipit ligula vel quam 
															viverra sit amet mollis tortor congue magna lorem ipsum dolor et quisque ut odio facilisis 
															convallis. Etiam non nunc vel est suscipit convallis non id orci. Ut interdum tempus 
															facilisis convallis. Etiam non nunc vel est suscipit convallis non id orci.</p>

															<a href="http://regularjane.deviantart.com/art/Pink-Rain-2009-134901803" class="image image-left"><img src="./DOBREPOLJE.INFO_files/pic06.jpg" alt=""></a>
															<p class="light">Phasellus  sed laoreet massa id justo mattis pharetra. Fusce suscipit ligula vel quam 
															viverra sit amet mollis tortor congue magna lorem ipsum dolor et quisque ut odio facilisis 
															convallis. Etiam non nunc vel est suscipit convallis non id orci. Ut interdum tempus 
															facilisis convallis. Etiam non nunc vel est suscipit convallis non id orci.</p>
														</article>

												</li>
											</ul>
										</section>
                                        
                                        
								
								</div>

						</div>
					</div>

			</div>

<?php $this->endContent(); ?>		